.btnPrev {
    color: #222222;
    text-decoration: none;
    cursor: pointer;
    gap: 10px;
    padding-top: 12px;
}
.btnPrev:hover {
    color: #157347;
}
.boxInforProduct {
    gap: 15px;
}
@media screen and (max-width: 770px) {
    main {
        padding: 190px 0 0 0 !important;
    }
}
